<header>

    <div class="col-lg-12 ">
        <div class="row d-flex align-items-center border-top-0 border contain">

            <!-- logo -->
            <div class="col-lg-5 col-md-12">
                <div class="row m-3 d-flex align-items-center ">
                    <img class="img-fluid imageHeader mr-4" src="/assets/Nor-Shipping.png">
                    <h1 class="header">Nor-Shipping 2019</h1>
                </div>
            </div>

            <div class="col-lg-7 col-md-12  ">
                <div class="row m-3 d-flex align-items-center">

                    <!-- statistics -->
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="line" style=" background-color: rgb(206, 3, 3);"></div>
                            <div>
                                <p class="statisticsName">DEALS</p>
                                <p class="statisticsNumber">43</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="line" style="background-color: rgb(135, 7, 173);"></div>
                            <div>
                                <p class="statisticsName">TOTAL VALUE </p>
                                <p class="statisticsNumber">4.9 mln</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="line" style="background-color: rgb(3, 138, 206);"></div>
                            <div>
                                <p class="statisticsName">HIT RATE</p>
                                <p class="statisticsNumber">10%</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="line" style=" background-color: rgb(3, 206, 101);"></div>
                            <div>
                                <p class="statisticsName">DEALS WON</p>
                                <p class="statisticsNumber">12/65</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="row">
                            <div class="line" style=" background-color: rgb(206, 98, 3);"></div>
                            <div>
                                <p class="statisticsName">NEW CUENTS</p>
                                <p class="statisticsNumber">8/12</p>
                            </div>
                        </div>
                    </div>


                    <!-- login -->
                    <div class="col-lg-2 col-md-12 col-sm-12">

                        <div class="user_image">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"
                                    aria-expanded="false">
                                    <img src="/assets/user_image.jpg" alt="user_image" />
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" routerLink="settings">Settings</a>
                                    <a class="dropdown-item" routerLink="myteam">My team</a>
                                    <a class="dropdown-item" routerLink="logOut">Log out</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

</header>