<nav>

    <div class="col-12">
        <div class="container-fluid">
            <div class="col-lg-10 col-md-12">
                <div class="row">

                    <div class="col-lg-2 col-md-3 col-sm-4 pt-2 m-2">
                        <div class="pb-2">
                            <a routerLink='exhibitors' class="navLink d-flex flex-nowrap align-items-center">
                                <i class="fa fa-sharp fa-light fa-calendar fa-xl ml-2 p-2"></i>
                                <span>Exhibitors</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 pt-2 m-2">
                        <div class="pb-2">
                            <a routerLink="sales" class="navLink d-flex flex-nowrap align-items-center ">
                                <i class="fa fa-regular fa-universal-access fa-xl ml-2 p-2"></i>
                                <span>Sales</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 pt-2 m-2">
                        <div class="pb-2">
                            <a routerLink="program" class="navLink d-flex flex-nowrap align-items-center">
                                <i class="fa fa-solid fa-inbox fa-xl ml-2 p-2"></i>
                                <span>Program</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 pt-2 m-2">
                        <div class="pb-2">
                            <a routerLink="delegates" class="navLink d-flex flex-nowrap align-items-center">
                                <i class="fa fa-solid fa-address-card fa-xl ml-2 p-2"></i>
                                <span>Delegates</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 pt-2 m-2">
                        <div class="pb-2">
                            <a routerLink="settings" class="navLink d-flex flex-nowrap align-items-center">
                                <i class="fa fa-solid fa-wrench fa-xl ml-2 p-2"></i>
                                <span>Settings</span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</nav>