<!-- sales content -->
<div class="col-12 bg-light  py-1">
        
    <div class="container-fluid">
        <div class="row m-2">
            <div class="col-lg-1 col-sm-2">
                <a class="btn" routerLink="/sales/deals" role="button">Deals</a>
            </div>
            <div class="col-lg-1 col-sm-2 ">
                <a class="btn" routerLink="/sales/activities" role="button">Activities</a>
            </div>
            <div class="col-lg-1 col-sm-2">
                <a class="btn" routerLink="/sales/statistics" role="button">Statistics</a>
            </div>
        </div>
    </div>

</div>

